* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 10px;
  --cardWidth: 6.5rem;
  --cardHeigth: 10rem;
  --cardSpanPadding: .1rem;
}

:root > body {
  font-size: 1.6rem;
}

.game {
  justify-content: center;
  display: grid;
  grid-template-areas: 
  "... dummy-2 ..."
  "dummy-1 table dummy-3"
  "... player ..." ;
  gap: 1rem;
  border: .1rem solid black;
  grid-template-rows: 
    var(--cardHeigth) 
    calc(var(--cardWidth) * 6) 
    var(--cardHeigth);
  grid-template-columns: 
    calc(var(--cardWidth) * 6) 
    calc(var(--cardWidth) * 8) 
    calc(var(--cardWidth) * 6);
}

.player-dummy[data-id="1"] {
  grid-area: dummy-1;
  transform: rotate(90deg);
}

.player-dummy[data-id="2"] {
  grid-area: dummy-2;
}

.player-dummy[data-id="3"] {
  grid-area: dummy-3;
  transform: rotate(-90deg);
}

.player-original {
  grid-area: player;
}

.player--countermove {
  border: 1px solid red;
}

.table {
  grid-area: table;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.table__cards {
  position: relative;
  width: var(--cardWidth);
  height: var(--cardHeigth);
}

.table__cards > .card:nth-child(2) {
  position: absolute;
  top: 1.5rem;
  left: 1rem;
  z-index: 2;
}

.cards {
  display: flex;
  justify-content: center;
  gap: .5rem;
}

.card {
  width: var(--cardWidth);
  height: var(--cardHeigth);
  border: 1px solid black;
  background-color: #fff;
  padding: .5rem;

  position: relative;
  transition: .3s ease;
  cursor: pointer;
  z-index: 1;
}

.player-original > .card:hover {
  transform: scale(1.2);
  z-index: 2;
}

.card.diamonds, .card.hearts {
  color: tomato;
}

.card.clubs, .card.spades {
  color: black;
}

.card > .card__label:first-child {
  position: absolute;
  top: var(--cardSpanPadding);
  left: var(--cardSpanPadding);
}

.card > .card__label:last-child {
  position: absolute;
  bottom: var(--cardSpanPadding);
  right: var(--cardSpanPadding);
  transform: rotate(180deg);
}

.card > .card__suit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.6);
}

.card[data-is-allow-to-move="true"] {
  background-color: rgb(253, 207, 199);
}

.card[data-is-allow-to-move="true"].card[data-is-trump="true"] {
  background-color: lightblue;
}

.button-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  gap: 1rem;
}

.app-button {
  padding: 1rem 3rem;
  background-color: deeppink;
  color: #fff;
  font-size: 2rem;
  border: none;
  border-radius: 5rem;
  transition: .3s ease;
  cursor: pointer;
}
.app-button:active {
  background-color: rgb(173, 18, 101);
}

#trump {
  font-size: 4rem;
}

#trump > .hearts, #trump > .diamonds {
  color: tomato;
}